{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,

    "node": true,
    "mocha": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "ecmaFeatures": {
      "classes": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "jest",
    "react-hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react-hooks/rules-of-hooks": "error",
    // Jest Rules
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "import/no-extraneous-dependencies": false
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./src/webpack/inc/webpack-resolver-config.js"
      }
    }
  }
}
