@import "../../../resources/css/scss/functions";
@import "../../../resources/css/scss/variables";
@import "../../../resources/css/scss/mixins";

.mobile-nav {
  transition: transform .3s linear;
  .btn-close {
    display: none;
  }
  +.opener {
    position:fixed;
    display: none;
    width: 48px;
    height: 48px;
    left: 0;
    top: 50%;
    z-index: 1;
    margin-top: -24px;
    background: theme-color("primary");
    transition: transform .3s linear;
    &:before {
      content: "☰";
      display: block;
      left: 50%;
      top:50%;
      position: absolute;
      font-size: 2rem;
      transform: translate(-50%, -50%);
      color: $white;
    }
  }
  @include media-breakpoint-down(md) {
    transform: translateX(-100vw);
    position: fixed;
    top: 0;
    padding: 0.5rem;
    margin: 0 !important;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    left: 0;
    overflow-y: auto;
    z-index: 1;
    //background-color: rgb(246, 246, 246);
    background-color: #fff;

    .btn-close {
      display: block;
    }
    +.opener {
      display: block;
    }
    &.open {
      transform: none;
      +.opener {
        transform: translateX(100vw);
      }
    }
  }
}