$atom-color: #ffffff;
$body-bg: gray;

//mixin
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.animated-atom {
  position: relative;
  min-height: 16.25em;
  min-width: 16.25em;
  >div {
    @include transform(rotateX(65deg) rotateY(50deg));
    border-radius: 50%;
    border: .625em solid $atom-color;
    transform-style: preserve-3d;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -6.25em;
    margin-top: -6.25em;
    &:first-child {
      &:after {
        @include transform(rotateX(-80deg) rotateY(0));
        @include shadow(0 0 1.5625em $atom-color);
        @include animation(nucleus 2s infinite linear);
        content: "";
        position: absolute;
        height: 1.875em;
        width: 1.875em;
        background: $atom-color;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        margin-top: -.9375em;
        margin-left: -.9375em;
      }
    }
    &:nth-child(2) {
      @include transform(rotateX(-65deg) rotateY(50deg));
      >div,
      >div:after {
        animation-delay: -.5s;
      }
    }
    &:nth-child(3) {
      @include transform(rotateX(-75deg) rotateY(0deg));
      >div,
      >div:after {
        animation-delay: -1s;
      }
    }
    &:nth-child(4) {
      @include transform(rotateX(0deg) rotateY(0deg));
      height: 16.25em;
      width: 16.25em;
      border-width: .3125em;
      margin-left: -7.8125em;
      margin-top: -7.8125em;
      >div {
        height: 16.25em;
        width: 16.25em;
        margin-top: -.3125em;
        margin-left: -.3125em;
        @include animation(trail 5s infinite linear);
      }
      >div:after {
        @include shadow(0 0 .875em $atom-color);
        content: "";
        animation-delay: -1.7s;
        top: -.2em;
        left: 50%;
        margin-left: -.625em;
        width: .625em;
        height: .625em;
        animation: none;
      }
    }
    >div {
      @include animation(trail 2s infinite linear);
      width: 12.5em;
      height: 12.5em;
      position: relative;
      transform-style: preserve-3d;
      &:after {
        @include animation(particle 2s infinite linear);
        @include shadow(0 0 .75em $atom-color);
        content: "";
        position: absolute;
        top: -.625em;
        left: 50%;
        margin-left: -.625em;
        width: .625em;
        height: .625em;
        border-radius: 50%;
        background-color: $atom-color;
      }
    }
  }
}


.animated-atom.lg{
  font-size: 2rem;
}
.animated-atom.sm{
  font-size: .8rem;
}
.animated-atom.xs{
  font-size: .5rem;
}

//keyframes
@include keyframes(trail) {
  from {
    @include transform(rotateZ(0deg));
  }
  to {
    @include transform(rotateZ(360deg));
  }
}

@include keyframes(particle) {
  from {
    @include transform(rotateX(90deg) rotateY(0deg));
  }
  to {
    @include transform(rotateX(90deg) rotateY(-360deg));
  }
}

@include keyframes(nucleus) {
  0%,
  100% {
    @include shadow(0 0 0 transparent);
  }
  50% {
    @include shadow(0 0 1.5625em $atom-color);
  }
}
