@import "../../../resources/css/scss/functions";
@import "../../../resources/css/scss/variables";
@import "../../../resources/css/scss/mixins";

@include media-breakpoint-up(lg) {
  .hero-left {
    text-align: right;
    width: calc(50% - 150px);
    p {
      max-width: 430px;
      float: right;
    }
  }
  .hero-right {
    text-align: left;
    width: calc(50% - 150px);
    p {
      max-width: 430px;
      float: left;
    }
  }

}

@include media-breakpoint-down(md) {
  .hero-left {
    text-align: center;
    width: 100%;
    p {
      max-width: 100%;
    }
  }
  .hero-right {
    text-align: center;
    width: 100%;
    p {
      max-width: 100%;
    }
  }

}

